/*@import "tailwindcss";
@plugin "daisyui";
*/
* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #14141b;
    font-family: Arial, sans-serif;
    color: #fff;
}

a {
    color: #0ca7c2;
}

::-webkit-scrollbar {
    transition: 300ms;
    width: 7px;
    display: block;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.267);
    border-radius: 4px;
}

b {
    font-weight: 700;
}
